
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="image" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="image" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="image" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  <br><br>
  <div class="container">
  
    <mat-card>
      
       <p> Welcome to the <span style="font-family: Itim;"><b> INDIAN INSTITUTE OF TECHNOLOGY(INDIAN SCHOOL OF
              MINES),DHANBAD</b></span> Indian Institute of Technology (Indian School of Mines) Dhanbad (abbreviated
          Indian Institute of Technology (ISM) Dhanbad or IIT (ISM) Dhanbad) is a public technical and research university
          located in Dhanbad, India.It has main campus of 218 acres in Sardar Patel Nagar area of Dhanbad and recently
          Jharkhand Cabinet approved 226.98 acres of land in Nirsa for its second campus, IIT (ISM) Dhanbad administration
          has plans to open more than 29 academic centers in this upcoming campus in Nirsa,Dhanbad.It is an Institute of
          National Importance. IIT (ISM) has 18 academic departments covering Engineering, Applied Sciences, Humanities
          and Social Sciences and Management programs. It was formerly known as Indian School of Mines before its
          conversion into an Indian Institute of Technology (IIT).
        </p>
        <p>
            IIT (ISM) Dhanbad is located in the mineral-rich region of India, in the city of Dhanbad. It is the third
            oldest institute (after IIT Roorkee, and IIT (BHU) Varanasi) which got converted into an IIT. It was
            established by British Indian Government on the lines of the Royal School of Mines - London, and was formally
            inaugurated on 9 December 1926 by Lord Irwin, the then Viceroy of India. It started as an institution to
            impart education in mining and geology, and today, has grown into a technical institution with various
            academic departments. IIT (ISM) Dhanbad admits its undergraduate students through Joint Entrance Examination
            (Advanced), previously IIT-JEE.
          </p>
          <p>
            On 25 May 2016, the Union Cabinet headed by Prime Minister Modi gave its approval to amend the Institutes of
            Technology Act, 1961 for conversion of ISM Dhanbad into an Indian Institute of Technology. The amendment was
            approved by parliament and upon presidential assent, was notified in the Gazette of India on 10 August 2016.
          </p>
   
    </mat-card>
  </div>
  <br><br>
  <div class="container">
  <mat-card>
    <h3>
      Here You can share your thought with the whole College societies.
    </h3>
  
    <h3>
      So, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi soluta animi corrupti, id accusantium similique excepturi ipsam dignissimos quos quam ea quis reprehenderit voluptatem iusto, dolorem necessitatibus quisquam illum deserunt.
    </h3>
    <div class="buttonsection">
    <a routerLink="/petition"><button mat-raised-button color="primary">START PETITION</button></a></div>
  </mat-card>
  
  </div>
