
<div class="full-screen">
  <div class="container">
    <h1 id="petitionlist-header">Petition List</h1><hr>
</div>
<div class="container">


<mat-card class="example-card"  *ngFor="let item of collection">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.PetitionTitle}}</mat-card-title>
    <mat-card-subtitle style="color:burlywood;">@{{item.PetitionTagedAuthority}}, {{item.TimeSent}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      {{item.PetitionDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="share" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <mat-menu #share="matMenu">
      <share-buttons 
      [theme]="'materal-dark'"
      [include]="['facebook',
      'twitter','linkedin','telegram','messenger','whatsapp','sms','email','copy']"
      [show]="9"
      [size]="1"
      [url]="'https://www.npmjs.com/package/@fortawesome/angular-fontawesome'"
      [autoSetMeta]="false"
      >
      </share-buttons>
      
     
    </mat-menu>
    <!-- <button mat-raised-button color="accent">SHARE</button> -->
  
  <a routerLink="/detail/{{item.id}}"> <button mat-raised-button   color="primary">More</button></a> 
  </mat-card-actions>
</mat-card>
</div>
</div>