<ngx-loading-bar [height]="'6px'" [color]="'green'" [includeSpinner]="false"></ngx-loading-bar>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

      <i class="fa fa-bars" aria-hidden="true"  (click)="opened=!opened"><mat-sidenav-container>
      <mat-sidenav mode="over" [(opened)]="opened">
        <div sidenavoption>
          <ul class="side-list">
            <li>
              <a href="#"><i class="fa fa-user-circle-o"></i> profile</a>
            </li>
            <hr>
            <li>
              <a routerLink="academicinfo"> <i class="fa fa-info-circle"></i> Administration Info</a>
            </li>
            <hr>
            <li>
              <a href="#"><i class='fa fa-address-card'></i> About Us</a>
            </li>
            <hr>
            <li>
              <a href="#"> <i style="margin: 0.5rem;" class="material-icons">&#xe0ba;</i> Contact Us</a>
            </li><hr>
            <li>
              <a href="#"> <i class="fa fa-question-circle"></i> Help</a>
            </li>
            <hr>
            <li>
              <i class="fa fa-power-off"></i><button mat-raised-button color="warn"   >Log Out</button>
            </li>
          </ul>
        </div>
      </mat-sidenav>
    
    
    </mat-sidenav-container></i>
   </button>
   <span id="navbartext">PetitionISM</span>
   <span class="example-spacer"></span>
   <a id="navlinktext"  routerLink="petition">Write Petition</a>
  <a  id="navlinktext"  routerLink="petitionlist">Petition List</a>
  <a   id="navlinktext" routerLink="home">Home</a>
 </mat-toolbar>




<div id="screen">
  <router-outlet></router-outlet>
</div>